.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 64px);
        background-color: aliceblue;
        position: relative;
        top: 64px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            width: 100vw;
            height: calc(100vh-64px);
            scroll-snap-align: start;
        }
    }
}