.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 72px);
        background-color: aliceblue;
        position: relative;
        top: 72px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        >* {
            width: 100vw;
            height: calc(100vh - 72px);
            scroll-snap-align: start;
        }
    }

    .end{
        width: 100%;
        bottom: 0;
        height: 64px;
        background-color: blue;
    }
}